@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Case Problem 4
   
   Browyer Realty Layout Styles
   Author: Dajah Medina
   Date: 11.14.18
	
   Filename: br_styles.css

*/
body>header img {
    display: block;
    width: 100%;
}